@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font-padrao';
  src: url('/public/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'font-bold';
  src: url('/public/font/Poppins/Poppins-Bold.ttf');
}

/* Reset global */
* {
  @apply m-0 p-0 box-border;
}

body {
  @apply h-screen;
  font-family: 'font-padrao', sans-serif;
}
